<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Testing POSTMAN for Sensor data using (Json file)</title>
</head>
<body>
    <h1>Sensor Data</h1>
    <form action="/getsensordata" method="POST">
        <label for="sensor_type">Sensor Type:</label><br>
        <input type="text" id="sensor_type" name="sensor_type" placeholder="e.g. Temperature"><br><br>
        <label for="sensor_value">Sensor Value:</label><br>
        <input type="text" id="sensor_value" name="sensor_value" placeholder="e.g. 23.5"><br><br>
    </form>
</body>
</html>